{% extends 'base/admin.html.twig' %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">

                        {{ include('product/partial/image_form.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}