{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'action': path('addProductToCart', {'product': product.id})}) }}
{{ form_widget(form) }}
<div class="product_price">{{ product.price }}$</div>
<div class="button_container">
    <input type="submit" class="button cart_button" value="Add to Cart">
    
    <div class="product_fav"><i class="fas fa-heart"></i></div>
</div>
{{ form_end(form) }}