{% extends 'base.html.twig' %}
{#{% use 'Symfony\Component\HttpFoundation\Request' %}#}
{#{% set request = {{ Request::createFromGlobals() }} %}#}

{% block body %}
    <h1>Order</h1>
    Your order has been submitted!!
{% endblock %}